<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="YireoTraining_ExampleLokiAdminCmsPage::index" title="Pages (Loki)" module="YireoTraining_ExampleLokiAdminCmsPage" sortOrder="50" parent="Magento_Backend::content_elements" resource="YireoTraining_ExampleLokiAdminCmsPage::index" action="loki_admin_cms_page/index/grid" />
    </menu>
</config>
