<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="loki_admin_cms_page" frontName="loki_admin_cms_page">
            <module name="YireoTraining_ExampleLokiAdminCmsPage" before="Magento_Backend" />
        </route>
    </router>
</config>
